vrrp_script reload_haproxy {
                script "killall -0 haproxy"
                interval 1
}

vrrp_instance VI_1 {
   virtual_router_id {{ keepalived_router_id }}
   state {{ keepalived_state }}
   priority {{ keepalived_priority }}
   # interval de check
   advert_int 1
   # interface de synchro entre les LB
   lvs_sync_daemon_interface {{ keepalived_interface }}
   interface {{ keepalived_interface }}
   # authentification entre les 2 machines LB
   authentication {
                auth_type PASS
                auth_pass secret
   }
   # vip
   virtual_ipaddress {
                {{ keepalived_address }}
   }
   track_script {
           reload_haproxy
   }
}
